@import url('https://fonts.googleapis.com/css?family=YourFontFamily&display=swap');


body {
    margin: 0;
}
  
.content_block {
    max-width: 80%;
    height: 100%;    
    position: absolute;
    display: inline-block;
    top: 70px;
    left: 250px;
    margin: 0 0 0 100px;
}